.main_container{
  display: grid;
  grid-template-columns: minmax(320px, 768px);
  justify-content: center;
  
  .brand-logo{
    @apply w-full px-10;
    max-width: 450px;
  }
  
  form{
    @apply px-5;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
    @screen sm{
      grid-template-columns: repeat(2, 1fr);
    }
    
    .Select, button, .loading-message{
      @screen sm{
        grid-column: 1 / 3;
      }
    }
    
    .loading-message{
      @apply justify-self-center sm:col-start-1 sm:col-end-3 text-blue-500 font-bold;
    }
    
    button{
      @apply py-2.5 px-4 mt-5 sm:mt-0 inline-flex justify-center items-center gap-2 rounded-md border border-transparent;
      @apply  font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2;
      @apply focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm;
      @apply disabled:bg-slate-500;
    }
  }
}